html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Consolas', 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}
* ::placeholder {
    font-family: 'Consolas';
}
